testi/testi/Connected Services/ServiceReference1/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51224/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51224/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:51224/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/uyjk" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService1_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IService1_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IService1_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_DelCar_InputMessage">
    <wsdl:part name="parameters" element="tns:DelCar" />
  </wsdl:message>
  <wsdl:message name="IService1_DelCar_OutputMessage">
    <wsdl:part name="parameters" element="tns:DelCarResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_saveAutoIntoDatabase_InputMessage">
    <wsdl:part name="parameters" element="tns:saveAutoIntoDatabase" />
  </wsdl:message>
  <wsdl:message name="IService1_saveAutoIntoDatabase_OutputMessage">
    <wsdl:part name="parameters" element="tns:saveAutoIntoDatabaseResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllAutoMakersFromDatabase1_InputMessage">
    <wsdl:part name="parameters" element="tns:getAllAutoMakersFromDatabase1" />
  </wsdl:message>
  <wsdl:message name="IService1_getAllAutoMakersFromDatabase1_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAllAutoMakersFromDatabase1Response" />
  </wsdl:message>
  <wsdl:message name="IService1_getAutoModelsByMakerId_InputMessage">
    <wsdl:part name="parameters" element="tns:getAutoModelsByMakerId" />
  </wsdl:message>
  <wsdl:message name="IService1_getAutoModelsByMakerId_OutputMessage">
    <wsdl:part name="parameters" element="tns:getAutoModelsByMakerIdResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAutoFuels_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAutoFuels" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAutoFuels_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAutoFuelsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAutoColors_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAutoColors" />
  </wsdl:message>
  <wsdl:message name="IService1_GetAutoColors_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAutoColorsResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNextAuto_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNextAuto" />
  </wsdl:message>
  <wsdl:message name="IService1_GetNextAuto_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNextAutoResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_SetCount_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCount" />
  </wsdl:message>
  <wsdl:message name="IService1_SetCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetCountResponse" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPrevious_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPrevious" />
  </wsdl:message>
  <wsdl:message name="IService1_GetPrevious_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPreviousResponse" />
  </wsdl:message>
  <wsdl:portType name="IService1">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetData" message="tns:IService1_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataResponse" message="tns:IService1_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContract" message="tns:IService1_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetDataUsingDataContractResponse" message="tns:IService1_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DelCar">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/DelCar" message="tns:IService1_DelCar_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/DelCarResponse" message="tns:IService1_DelCar_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="saveAutoIntoDatabase">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/saveAutoIntoDatabase" message="tns:IService1_saveAutoIntoDatabase_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/saveAutoIntoDatabaseResponse" message="tns:IService1_saveAutoIntoDatabase_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAllAutoMakersFromDatabase1">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAllAutoMakersFromDatabase1" message="tns:IService1_getAllAutoMakersFromDatabase1_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAllAutoMakersFromDatabase1Response" message="tns:IService1_getAllAutoMakersFromDatabase1_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getAutoModelsByMakerId">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/getAutoModelsByMakerId" message="tns:IService1_getAutoModelsByMakerId_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/getAutoModelsByMakerIdResponse" message="tns:IService1_getAutoModelsByMakerId_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAutoFuels">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAutoFuels" message="tns:IService1_GetAutoFuels_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAutoFuelsResponse" message="tns:IService1_GetAutoFuels_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAutoColors">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetAutoColors" message="tns:IService1_GetAutoColors_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetAutoColorsResponse" message="tns:IService1_GetAutoColors_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNextAuto">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetNextAuto" message="tns:IService1_GetNextAuto_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetNextAutoResponse" message="tns:IService1_GetNextAuto_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/SetCount" message="tns:IService1_SetCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/SetCountResponse" message="tns:IService1_SetCount_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPrevious">
      <wsdl:input wsaw:Action="http://tempuri.org/IService1/GetPrevious" message="tns:IService1_GetPrevious_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService1/GetPreviousResponse" message="tns:IService1_GetPrevious_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService1" type="tns:IService1">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IService1/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IService1/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DelCar">
      <soap:operation soapAction="http://tempuri.org/IService1/DelCar" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="saveAutoIntoDatabase">
      <soap:operation soapAction="http://tempuri.org/IService1/saveAutoIntoDatabase" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllAutoMakersFromDatabase1">
      <soap:operation soapAction="http://tempuri.org/IService1/getAllAutoMakersFromDatabase1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAutoModelsByMakerId">
      <soap:operation soapAction="http://tempuri.org/IService1/getAutoModelsByMakerId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAutoFuels">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAutoFuels" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAutoColors">
      <soap:operation soapAction="http://tempuri.org/IService1/GetAutoColors" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNextAuto">
      <soap:operation soapAction="http://tempuri.org/IService1/GetNextAuto" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetCount">
      <soap:operation soapAction="http://tempuri.org/IService1/SetCount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetPrevious">
      <soap:operation soapAction="http://tempuri.org/IService1/GetPrevious" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IService1" binding="tns:BasicHttpBinding_IService1">
      <soap:address location="http://localhost:51224/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>